.root {
    -fx-base: #3C3F41;
    /* Dark base color */
    -fx-background: #2B2B2B;
    /* Dark background */
    -fx-control-inner-background: #45494A;
    -fx-text-fill: #BBBBBB;
    /* Light text */
}

.tool-bar {
    -fx-background-color: -fx-base;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.button,
.toggle-button {
    -fx-text-fill: #BBBBBB;
}